@mixin animate {
  @include transition-property(all);
  @include transition-duration(.25s);
  @include transition-timing-function(ease-in-out);
}

::selection {
  background: white; 
  color: black;
}

::-moz-selection { /* Firefox */
  background: white; 
  color: black;
}

.browsehappy {
  background: rgb(223, 93, 63);
  padding: 2em 4em;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  text-align: center;
}

html {
  height: 100%;
  @include box-sizing(border-box);
}

body {
  font-family: 'Ideal Sans A', 'Ideal Sans B'; 
  font-weight: 200; 
  font-style: normal;
  background-repeat: no-repeat;
  background-image: url(../img/bg-sq-xs.jpg); 

  @media only screen and (orientation:portrait) {
    background-position: bottom center;
    @include background-size(100% auto);
  }

  @media only screen and (orientation:landscape) {
    background-position: top right;
    @include background-size(auto 100%);
  }


  @include breakpoint($s) {
    background-image: url(../img/bg-sq-s.jpg); 
  }

  @include breakpoint($m) {
    background-image: url(../img/bg-sq-m.jpg); 
  }

  @include breakpoint($l) {
    background-image: url(../img/bg-v-l.jpg); 
  }

  @include breakpoint($xl) {
    background-image: url(../img/bg-v-xl.jpg); 
  }

  @include breakpoint($xxl) {
    background-image: url(../img/bg-v-xxl.jpg); 
  }

  @include breakpoint($xxxl) {
    background-image: url(../img/bg-v-xxxl.jpg); 
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  @include animate;
  color: #000;

  &:hover {
    color: #ccc;
  }
}

.content {
  overflow: hidden;
  padding: 5% 0 0 5%;
  @media only screen and (orientation:portrait) {
    background-color: white;
  }

  @include breakpoint($l) {
    padding: 10% 0 0 10%;
  }
}


.logo {
  background: url("../img/buckprojects-black.svg") 0 0 no-repeat;
  position: relative;
  text-indent: -9999px; 
  text-decoration: none;
  width: 120px;
  height: 77px;
  background-size: 120px 77px;
  display: inline-block;
  margin-bottom: 5%;

  @media only screen and (orientation:portrait) {
    float: left;
    margin-right: 10%;
  }

  @include breakpoint($m) {
    width: 200px;
    width: 45%;
    height: 129px;
    background-size: 200px 129px;
  }

  @include breakpoint($l) {
    width: 225px;
    width: 45%;
    height: 145px;
    background-size: 225px 145px;
  }

  @include breakpoint($xl) {
    width: 250px;
    width: 45%;
    height: 161px;
    background-size: 250px 161px;
  }
}

address {
  font-size: .75em;
  line-height: 1.6;
  width: 50%;

  @media only screen and (orientation:portrait) {
    display: inline-block;
    float: left;
  }

  @include breakpoint($m) {
    font-size: 1em;
  }

  @include breakpoint($l) {
    line-height: 1.8;
  }
}

.instagram {
  display: block;
  margin-top: 1.5em;
  border: none;
  svg {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    @include animate;
  }

  &:hover {
    svg {
      fill: #ccc;
    }
  }

}